.mcg-container * {
    margin: 0;
    padding: 0;
}

.mcg-container {
    z-index:999;
    position: absolute;
    font-size: 14px;
    display: table;
    border: 1px solid #666;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    padding: 5px;
    background: #FFF;
    width: 500px;
}

.mcg-menu-container, .mcg-description-container {
    float: left;
}

.mcg-menu {
    list-style: none;
}

.mcg-menu li {
    padding: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mcg-menu li:hover {
    background: #f4f4f4;
    cursor: pointer;
}

.mcg-menu li:hover.mcg-menu-li-selected {
    background-color: #ccc;
}

.mcg-menu-li-selected {
    background-color: #ccc;
}

.mcg-menu-checkbox {
    display: none;
}

.mcg-description-container {
    padding-left: 20px;
    max-width: 400px;
}

.mcg-description-container h1 {
    font-size: 18px;
    margin-bottom: 5px;
}

.mcg-description-container p {
    text-align: justify;
}