<phpunit
    bootstrap="bootstrap.php"
    testdox="true"
    colors="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="false">
    <logging>
        <log type="coverage-html" target="../../statistics/code-coverage" lowUpperBound="35" highLowerBound="70"/>
        <log type="testdox-html" target="../../statistics/tests"/>
    </logging>
</phpunit>
